{% extends 'base.html' %}
{% block content %}

<h1>Patient Sign Up</h1>

<p class="red-text">{{ error_message }}</p>

<form action="{% url 'patient_signup' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn">Sign Up</button>
</form>
<script>
  const dateElement = document.getElementById('id_date_of_birth');
  M.Datepicker.init(dateElement, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selecElement = document.getElementById('id_gender');
  M.FormSelect.init(selecElement);
</script>
{% endblock %}
