{% extends 'doctor/base.html' %}
{% block content %}


<h1>Patient Detail</h1>
<hr>

<div class="patient-profile">
    <h2>Patient Profile</h2>
    <div class="profile-detail"><strong>Name:</strong> {{ patient.name }}</div>
    <div class="profile-detail"><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</div>
    <div class="profile-detail"><strong>Gender:</strong> {{ patient.gender }}</div>
    <div class="profile-detail"><strong>Address:</strong> {{ patient.address }}</div>
    <div class="profile-detail"><strong>Phone Number:</strong> {{ patient.phone_number }}</div>
    <div class="profile-detail"><strong>Emergency Contact:</strong> {{ patient.emergency_contact }}</div>
</div>

<div class="row">
  <h3>Past Appointments</h3>
  {% for appointment in appointments %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Date: {{ appointment.date|date:"Y-m-d" }} at {{ appointment.time|time:"H:i" }}</span>
          <p>Purpose: {{ appointment.purpose }}</p>
          <p>Status: {{ appointment.status }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'medical_record_create' appointment.pk %}">Submit Medical Record</a>
          <a href="{% url 'doctor_appointment_detail' appointment.pk %}">View Details</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No past appointments for this patient.</p>
  {% endfor %}
</div>

{% endblock %}
