{% extends 'base.html' %}
{% block content %}

<div class="hero">
    <div class="hero-content">
        <h1>Welcome to Prince Court Medical Center</h1>
        <p>At Prince Court Medical Center, we are committed to providing you with exceptional healthcare services. Our team of experienced professionals is here to ensure your medical needs are met with the utmost care and attention.</p>
        <p>Book your appointment online and access a wide range of medical services. From general consultations to specialized treatments, our hospital is equipped to handle various health concerns. Stay informed about your health and make your next visit to our hospital a hassle-free experience.</p>
    </div>
</div>

{% endblock %}